*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Arial;
    line-height: normal;
    font-weight: 400;
}

.main {
    width: 100%;
    min-height: 100vh;

}
.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
.list__caption {
    width: calc(33% - 40px);
    margin: 20px;
    list-style-type: none;
    font-weight: bold;
    color: darkslateblue;
}
.list__cell {
    width: calc(33% - 40px);
    margin: 0 20px;
    min-height: 250px;
    list-style-type: none;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,.2);
    background-color: ghostwhite;
    overflow: hidden;
}
.list__card {
    text-align: center;
    min-height: 25%;
    cursor: all-scroll;
}
.list__card__info {
    font-weight: bold;
    font-size: 14px;    
    padding: 22px 25px;
    background-color: lightseagreen;
    color: rgb(51, 43, 109);
}
.hidden {
    display: none;
}
.hovered {
    background-color: rgb(212, 211, 211);
}

.list__cells {
    width: 100%;
    height: 25%;
}